# Get the data

### Prepare the functions

In [12]:
import pandas as pd
import os

# Constants
DATA_DIR_PATH = "../data/"


# Paths to the data

asylum_seekers = "asylum_seekers.csv"
asylum_seekers_monthly = "asylum_seekers_monthly.csv"
demographics = "demographics.csv"
persons_of_concern = "persons_of_concern.csv"
resettlement = "resettlement.csv"
time_series = "time_series.csv"


# Load the data into panda
def load_csv_data(fileFullName):
    dataDirPath = DATA_DIR_PATH
    csv_path = os.path.join(dataDirPath, fileFullName)
    return pd.read_csv(csv_path)

### Load the data

In [17]:


data_asylum_seekers = load_csv_data("asylum_seekers.csv")
data_asylum_seekers_monthly = load_csv_data("asylum_seekers_monthly.csv")
data_demographics = load_csv_data("demographics.csv")
data_persons_of_concern = load_csv_data("persons_of_concern.csv")
data_resettlement = load_csv_data("resettlement.csv")
data_time_series = load_csv_data("time_series.csv")

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2821: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2821: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2821: DtypeWarning: Columns (3,4,5,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

## Read the data

### asylum seekers

**Origin** - Herkunft

**RSD** -
* Type of procedure: U=UNHCR; G=Government; J=Joint procedure and
* Level in the procedure: FI=First instance; FA=First instance and appeal; AR=Appeal

**Total pending start year** 
* ausstehende in dem Jahr aus dem Jahr davor

**Applied during year**
* Bewerbungen insgesamt in dem Jahr dazugekommen.

**recognized**
* anerkannt

**decision_other**
* andere Entscheidung

**rejected**
* abgelehnt

**otherwise closed** 
* abgeschlossen sonst

**total pending end year** 
* ausstehende ins nächste jahr

In [18]:
data_asylum_seekers.head()

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0,0,5,5,0,0,0,5,0,0
1,2000,South Africa,Afghanistan,G / FI,8,1,0,0,0,0,0,NaN,8,0
2,2000,Uzbekistan,Afghanistan,U / FI,265,265,2156,747,0,112,327,1186,1235,1235
3,2000,United States of America,Afghanistan,G / EO,196,0,225,151,0,31,68,250,171,0
4,2000,United States of America,Afghanistan,G / IN,193,0,218,182,0,51,40,273,150,0

In [182]:
# Anzahl von Rows nach gruppiert bei Country
data_asylum_seekers.ix[:,1].value_counts().head(5)

United States of America    5676
Germany                     5370
Sweden                      4623
Netherlands                 4489
United Kingdom              4400
Name: Country / territory of asylum/residence, dtype: int64

In [184]:
# only year is a number

data_asylum_seekers.describe()

                Year
count  129720.000000
mean     2009.053500
std         4.877886
min      2000.000000
25%      2005.000000
50%      2010.000000
75%      2013.000000
max      2016.000000

### asylum_seekers_monthly

In [19]:
data_asylum_seekers_monthly.head()

  Country / territory of asylum/residence       Origin  Year     Month Value
0                               Australia  Afghanistan  1999   January     8
1                               Australia  Afghanistan  1999  February    10
2                               Australia  Afghanistan  1999     March    25
3                               Australia  Afghanistan  1999     April    25
4                               Australia  Afghanistan  1999       May     7

### data_demographics

In [20]:
data_demographics.head()

,Year,Country / territory of asylum/residence,Location Name,Female 0-4,Female 5-11,Female 5-17,Female 12-17,Female 18-59,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-11,Male 5-17,Male 12-17,Male 18-59,Male 60+,M: Unknown,M: Total
0,2001,Afghanistan,Kabul,0,NaN,1.0,NaN,1,0,0.0,2,0,NaN,0.0,NaN,2,0,0.0,2
1,2001,Afghanistan,Various,14335,NaN,45451.0,NaN,99880,19234,412004.0,590904,14716,NaN,47522.0,NaN,114965,13025,435492.0,625720
2,2001,Afghanistan,Herat,0,NaN,0.0,NaN,1,0,0.0,1,0,NaN,0.0,NaN,1,0,0.0,1
3,2001,Angola,Viana,484,NaN,1687.0,NaN,1282,43,0.0,3496,597,NaN,1645.0,NaN,787,34,0.0,3063
4,2001,Angola,Moxico,219,NaN,734.0,NaN,427,25,0.0,1405,226,NaN,711.0,NaN,139,15,0.0,1091

### data_persons_of_concern


**IDP**

Intern Vertriebene (auch: Binnenvertriebene, Binnenflüchtlinge oder aus dem Englischen internally displaced people/IDPs) sind Personen, die gewaltsam aus ihrer angestammten und rechtmäßigen Heimat vertrieben wurden, bei ihrer Flucht – im Unterschied zu Flüchtlingen im rechtlichen Sinn – keine Staatsgrenze überschritten haben und im eigenen Land verblieben sind. Gründe für diese interne Vertreibung sind bewaffnete Konflikte, Gewalt, Menschenrechtsverletzungen und Naturkatastrophen.

In [124]:
data_persons_of_concern.head()

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Returned refugees,Internally displaced persons (IDPs),Returned IDPs,Stateless persons,Others of concern,Total Population
0,1951,Australia,Various/Unknown,180000,NaN,NaN,NaN,NaN,NaN,NaN,180000
1,1951,Austria,Various/Unknown,282000,NaN,NaN,NaN,NaN,NaN,NaN,282000
2,1951,Belgium,Various/Unknown,55000,NaN,NaN,NaN,NaN,NaN,NaN,55000
3,1951,Canada,Various/Unknown,168511,NaN,NaN,NaN,NaN,NaN,NaN,168511
4,1951,Switzerland,Various/Unknown,10000,NaN,NaN,NaN,NaN,NaN,NaN,10000

### data_resettlement

In [125]:
data_resettlement.head()

  Country / territory of asylum/residence    Origin  Year Value
0                                  Canada   Albania  1959    17
1                                  Canada   Austria  1959    17
2                                  Canada   Belgium  1959     2
3                                  Canada  Bulgaria  1959    35
4                                  Canada     China  1959     2

In [126]:
data_time_series.head()

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000

In [169]:
# Select Germany
germanySeries=data_time_series[data_time_series['Country / territory of asylum/residence'].str.contains("Germany")]
    
importantColumns = germanySeries.iloc[:,[0,1,4]]

importantColumns.head()

    Year Country / territory of asylum/residence   Value
5   1951                                 Germany  265000
25  1952                                 Germany  240000
42  1953                                 Germany  228000
59  1954                                 Germany  225000
79  1955                                 Germany  219000