# Get the data

### Prepare the functions

In [291]:
import pandas as pd
import os
from ipykernel import kernelapp as app
import numpy as np

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))


# Constants
DATA_DIR_PATH = "../data/"


# Paths to the data

asylum_seekers = "asylum_seekers.csv"
asylum_seekers_monthly = "asylum_seekers_monthly.csv"
demographics = "demographics.csv"
persons_of_concern = "persons_of_concern.csv"
resettlement = "resettlement.csv"
time_series = "time_series.csv"


# Load the data into panda
def load_csv_data(fileFullName):
    dataDirPath = DATA_DIR_PATH
    csv_path = os.path.join(dataDirPath, fileFullName)
    return pd.read_csv(csv_path)


def convert_Df_ColumnType(mDataFrame,firstColumnToConvert_index):
    for idx, col in enumerate(mDataFrame.columns):
        if( idx >= firstColumnToConvert_index):
            mDataFrame[col] = pd.to_numeric(mDataFrame[col], errors='coerce')

def convert_Df_ColumnType_byName(mDataFrame,columnName):
    mDataFrame[columnName] = pd.to_numeric(mDataFrame[columnName], errors='coerce')

### Load the data

In [292]:


data_asylum_seekers = load_csv_data("asylum_seekers.csv")
data_asylum_seekers_monthly = load_csv_data("asylum_seekers_monthly.csv")
data_demographics = load_csv_data("demographics.csv")
data_persons_of_concern = load_csv_data("persons_of_concern.csv")
data_resettlement = load_csv_data("resettlement.csv")
data_time_series = load_csv_data("time_series.csv")

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2821: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2821: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2821: DtypeWarning: Columns (3,4,5,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

## convert column types to numeric

In [293]:

convert_Df_ColumnType(data_asylum_seekers,4)
convert_Df_ColumnType(data_demographics,3)
convert_Df_ColumnType(data_persons_of_concern,4)

convert_Df_ColumnType_byName(data_asylum_seekers_monthly,'Value')
convert_Df_ColumnType_byName(data_resettlement,'Value')

convert_Df_ColumnType_byName(data_time_series,'Value')

## Read the data

### asylum seekers

**Origin** - Herkunft

**RSD** -
* Type of procedure: U=UNHCR; G=Government; J=Joint procedure and
* Level in the procedure: FI=First instance; FA=First instance and appeal; AR=Appeal

**Total pending start year** 
* ausstehende in dem Jahr aus dem Jahr davor

**Applied during year**
* Bewerbungen insgesamt in dem Jahr dazugekommen.

**recognized**
* anerkannt

**decision_other**
* andere Entscheidung

**rejected**
* abgelehnt

**otherwise closed** 
* abgeschlossen sonst

**total pending end year** 
* ausstehende ins nächste jahr

In [294]:
data_asylum_seekers.head()

,Year,Country / territory of asylum/residence,Origin,RSD procedure type / level,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
0,2000,Zimbabwe,Afghanistan,G / FI,0.0,0.0,5.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0
1,2000,South Africa,Afghanistan,G / FI,8.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,8.0,0.0
2,2000,Uzbekistan,Afghanistan,U / FI,265.0,265.0,2156.0,747.0,0.0,112.0,327.0,1186.0,1235.0,1235.0
3,2000,United States of America,Afghanistan,G / EO,196.0,0.0,225.0,151.0,0.0,31.0,68.0,250.0,171.0,0.0
4,2000,United States of America,Afghanistan,G / IN,193.0,0.0,218.0,182.0,0.0,51.0,40.0,273.0,150.0,0.0

In [295]:
data_asylum_seekers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129720 entries, 0 to 129719
Data columns (total 14 columns):
Year                                       129720 non-null int64
Country / territory of asylum/residence    129720 non-null object
Origin                                     129720 non-null object
RSD procedure type / level                 129719 non-null object
Tota pending start-year                    121547 non-null float64
of which UNHCR-assisted(start-year)        117641 non-null float64
Applied during year                        122863 non-null float64
decisions_recognized                       118406 non-null float64
decisions_other                            114350 non-null float64
Rejected                                   119318 non-null float64
Otherwise closed                           118486 non-null float64
Total decisions                            93873 non-null float64
Total pending end-year                     122918 non-null float64
of which UNHCR-assisted(end-year)          120540 non-null float64
dtypes: float64(10), int64(1), object(3)
memory usage: 13.9+ MB

In [296]:
# Anzahl von Rows nach gruppiert bei Country
data_asylum_seekers.ix[:,1].value_counts().head(5)

United States of America    5676
Germany                     5370
Sweden                      4623
Netherlands                 4489
United Kingdom              4400
Name: Country / territory of asylum/residence, dtype: int64

In [297]:
# only year is a number

data_asylum_seekers.describe()

,Year,Tota pending start-year,of which UNHCR-assisted(start-year),Applied during year,decisions_recognized,decisions_other,Rejected,Otherwise closed,Total decisions,Total pending end-year,of which UNHCR-assisted(end-year)
count,129720.000000,121547.000000,117641.000000,122863.000000,118406.000000,114350.000000,119318.000000,118486.000000,93873.000000,122918.000000,120540.000000
mean,2009.053500,150.855801,32.360504,151.586702,31.102697,15.040822,59.364807,44.752545,189.564326,162.298508,36.334744
std,4.877886,2739.181439,689.868464,2183.349076,703.105200,954.488562,647.442297,1422.434510,2446.289800,2541.053323,823.155497
min,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,-1.000000,0.000000
25%,2005.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000
50%,2010.000000,1.000000,0.000000,4.000000,0.000000,0.000000,1.000000,0.000000,8.000000,2.000000,0.000000
75%,2013.000000,12.000000,0.000000,24.000000,2.000000,0.000000,10.000000,4.000000,45.000000,14.000000,0.000000
max,2016.000000,397435.000000,94375.000000,301533.000000,164926.000000,248201.000000,147063.000000,301764.000000,301770.000000,397435.000000,114571.000000

### asylum_seekers_monthly

In [298]:
data_asylum_seekers_monthly.head()

  Country / territory of asylum/residence       Origin  Year     Month  Value
0                               Australia  Afghanistan  1999   January    8.0
1                               Australia  Afghanistan  1999  February   10.0
2                               Australia  Afghanistan  1999     March   25.0
3                               Australia  Afghanistan  1999     April   25.0
4                               Australia  Afghanistan  1999       May    7.0

### data_demographics

In [299]:
data_demographics.head()

,Year,Country / territory of asylum/residence,Location Name,Female 0-4,Female 5-11,Female 5-17,Female 12-17,Female 18-59,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-11,Male 5-17,Male 12-17,Male 18-59,Male 60+,M: Unknown,M: Total
0,2001,Afghanistan,Kabul,0.0,NaN,1.0,NaN,1.0,0.0,0.0,2.0,0.0,NaN,0.0,NaN,2.0,0.0,0.0,2.0
1,2001,Afghanistan,Various,14335.0,NaN,45451.0,NaN,99880.0,19234.0,412004.0,590904.0,14716.0,NaN,47522.0,NaN,114965.0,13025.0,435492.0,625720.0
2,2001,Afghanistan,Herat,0.0,NaN,0.0,NaN,1.0,0.0,0.0,1.0,0.0,NaN,0.0,NaN,1.0,0.0,0.0,1.0
3,2001,Angola,Viana,484.0,NaN,1687.0,NaN,1282.0,43.0,0.0,3496.0,597.0,NaN,1645.0,NaN,787.0,34.0,0.0,3063.0
4,2001,Angola,Moxico,219.0,NaN,734.0,NaN,427.0,25.0,0.0,1405.0,226.0,NaN,711.0,NaN,139.0,15.0,0.0,1091.0

### data_persons_of_concern


**IDP**

Intern Vertriebene (auch: Binnenvertriebene, Binnenflüchtlinge oder aus dem Englischen internally displaced people/IDPs) sind Personen, die gewaltsam aus ihrer angestammten und rechtmäßigen Heimat vertrieben wurden, bei ihrer Flucht – im Unterschied zu Flüchtlingen im rechtlichen Sinn – keine Staatsgrenze überschritten haben und im eigenen Land verblieben sind. Gründe für diese interne Vertreibung sind bewaffnete Konflikte, Gewalt, Menschenrechtsverletzungen und Naturkatastrophen.

In [300]:
data_persons_of_concern.head()

,Year,Country / territory of asylum/residence,Origin,Refugees (incl. refugee-like situations),Asylum-seekers (pending cases),Returned refugees,Internally displaced persons (IDPs),Returned IDPs,Stateless persons,Others of concern,Total Population
0,1951,Australia,Various/Unknown,180000,NaN,NaN,NaN,NaN,NaN,NaN,180000.0
1,1951,Austria,Various/Unknown,282000,NaN,NaN,NaN,NaN,NaN,NaN,282000.0
2,1951,Belgium,Various/Unknown,55000,NaN,NaN,NaN,NaN,NaN,NaN,55000.0
3,1951,Canada,Various/Unknown,168511,NaN,NaN,NaN,NaN,NaN,NaN,168511.0
4,1951,Switzerland,Various/Unknown,10000,NaN,NaN,NaN,NaN,NaN,NaN,10000.0

### data_resettlement

In [301]:
data_resettlement.head()

  Country / territory of asylum/residence    Origin  Year  Value
0                                  Canada   Albania  1959   17.0
1                                  Canada   Austria  1959   17.0
2                                  Canada   Belgium  1959    2.0
3                                  Canada  Bulgaria  1959   35.0
4                                  Canada     China  1959    2.0

In [302]:
data_time_series.head()

,Year,Country / territory of asylum/residence,Origin,Population type,Value
0,1951,Australia,Various/Unknown,Refugees (incl. refugee-like situations),180000.0
1,1951,Austria,Various/Unknown,Refugees (incl. refugee-like situations),282000.0
2,1951,Belgium,Various/Unknown,Refugees (incl. refugee-like situations),55000.0
3,1951,Canada,Various/Unknown,Refugees (incl. refugee-like situations),168511.0
4,1951,Switzerland,Various/Unknown,Refugees (incl. refugee-like situations),10000.0

In [303]:
# Select Germany
germanySeries=data_time_series[data_time_series['Country / territory of asylum/residence'].str.contains("Germany")]
    
importantColumns = germanySeries.iloc[:,[0,1,4]]

importantColumns.head()

    Year Country / territory of asylum/residence     Value
5   1951                                 Germany  265000.0
25  1952                                 Germany  240000.0
42  1953                                 Germany  228000.0
59  1954                                 Germany  225000.0
79  1955                                 Germany  219000.0